version: "3.9"

########################### SERVICES
services:
  ########################### VESS API
  vess-api:
    image: vess-api
    container_name: vess-api
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - MINIO_ENDPOINT=${MINIO_ENDPOINT}
      - MINIO_PORT=${MINIO_PORT}
      - MINIO_SECURE=${MINIO_SECURE}
      - MINIO_BUCKET_NAME=${MINIO_BUCKET_NAME}
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - TZ=America/Sao_Paulo
    ports:
      - "8650:8650"
    labels:
        # Traefik Config
      - "traefik.enable=true"
      - "traefik.http.routers.vess-api.rule=Host(`vess-api.app.pb.utfpr.edu.br`)"
      - "traefik.http.routers.vess-api.tls.certresolver=letsencrypt"
      - "traefik.http.routers.vess-api.entrypoints=websecure"
    restart: unless-stopped
    networks:
      - web
      - database

########################### NETWORKS
networks:
  web:
    name: web
    driver: bridge
    external: true
    attachable: true
  database:
    name: database
    driver: bridge
    external: false
    attachable: true
      